<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.f.pro.mapper.SysCountryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.f.pro.domain.SysCountry">
        <id column="id" property="id"/>
        <result column="country_id" property="countryId"/>
        <result column="country" property="country"/>
    </resultMap>

    <select id="getProvinceList" resultType="com.f.pro.vo.AreaVo">
        SELECT province_id as areaId, province as areaName FROM sys_province
    </select>

    <select id="getCityList" resultType="com.f.pro.vo.AreaVo">
        SELECT city_id as areaId, city as areaName FROM sys_city WHERE province_id=#{provinceId}
    </select>

    <select id="getCountyList" resultType="com.f.pro.vo.AreaVo">
        SELECT county_id as areaId, county as areaName FROM sys_county WHERE city_id=#{cityId}
    </select>

</mapper>
